<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
    
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='css/project.css')}}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>    
      
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            Title Not Set
        {% endif %}
    </title>
    
    {% block head %}
    {% endblock %}

</head>

<body>  

    {% block navbar %}
    {% endblock %}        

    {% block content %}
    {% endblock %}    

    {% block scripts %}  
    <script>
    </script>
    {% endblock %} 

</body>
</html>
